* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.containert {
    position: relative;
    width: 100%;
    display: grid;
    
}

.centered {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    padding: 30px;
    justify-content: center;
    align-items: center;

}
img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.contasking{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

.sort-contan{
    display: flex;
    align-items: center;
}